*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bulk-padding:100px;
    --primary-padding:25px;
    --secondary-padding:10px;
    --primary-color:#19c8fa;
    --secondary-color:rgb(20 94 117 / 77%);
}



.landing{
    width: 100%;
    height: 100vh;
    position: relative;
    
}

.container .image{
    width: 100%; 
    height: 100vh;
    background-image: url(./imgs/landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.4);
    z-index: -1;
    position: absolute;

}

.landing .nav .logo{
    padding-bottom: 25px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    align-items: center;
    padding-top: 25px;
    position: relative;
}

.nav::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #9e9e9e99;
    bottom: 0;
    z-index: -1;

}


.nav_bar{
    display: flex;
    align-items: center;
}
.nav_bar ul{
    list-style: none;
    display: flex;
}

li {
    color: white;
    font-size: 15px;
    padding-top: 24px;
    padding-bottom: 35px;
    padding-right: 24px;
    transition: color 0.5s ease;
    cursor: pointer;
}

.first-li-special{
    color: rgb(25 200 250);
    border-bottom: 1px solid var(--secondary-color);
}

.nav_bar li:hover{
    color: rgb(25 200 250);
    border-bottom: 1px solid var(--secondary-color);

}

.lens-shape i{
    color: #ffffff;
    font-size: 22px;
}

.content0-1{    
    margin-top: 13%;
    width: 50%;
    background-color:rgb(15 116 143 / 70%);
    
    display: flex;
    justify-content: flex-end;
}



.content0-2{
    color: white;
    letter-spacing: 1px;
    padding: 50px;
    width: 65%;

}

.content0-2 .h2-one{
    padding-top: var(--primary-padding);
    
    font-weight: 100;
    font-size: 30px;
}

.content0-2 .h2-two{
    padding-top: 10px;
    font-weight: 100;
    font-size: 30px;
}

.content0-2 p{
    padding-top: var(--primary-padding);
    padding-bottom: var(--primary-padding);
    line-height: 27px;
    font-size: 14px;
}

.landing .arrow-left{
    position: absolute;
    top: 50%;
    padding: 25px;
    font-size: 2em;
    color: rgb(255, 255, 255, 77%);
}

.landing .arrow-right{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 25px;
    font-size: 2em;
    color: rgb(255, 255, 255, 77%);

}

.loading-shape{
    position: absolute;
    bottom: 20px;
    display: flex;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 111px;
}

.loading-shape span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.sec-loading-shape{
    background-color: var(--primary-color);
}

.bulk{
    padding-top: var(--bulk-padding);
    background-color: white;
    padding-bottom:  var(--bulk-padding);
}

.content{
    padding-top: var(--secondary-padding);
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title{
    font-size: 40px;
    font-weight: 100;
    padding-bottom: var(--primary-padding);
    padding-top: var(--primary-padding);
}

.under-title{
    display: block;
    position: relative;
    width: 140px;
    height: 2px;
    background-color: rgb(51 51 51);
    margin: 0 auto 50px auto;
}

.under-title::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:white;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 1px solid rgb(51 51 51);

}

.under-title-para{
    width: 46%;
    text-align: center;
    line-height: 25px;
    color: rgb(131 123 119);
    letter-spacing: 0.9px;
}

.bulk-block{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.block{
    display: flex;
    justify-content: space-between;
    width: 48%;
    padding-bottom: 50px;
}

.block-info{
    display: flex;
    flex-direction: column;
}

.block-info p{
    padding-top: var(--secondary-padding);
    width: 80%;
    line-height: 27px;
    font-size: 14px;
    color: #777;
    letter-spacing: 1px;
}


.block .icon{
    padding-right: 40px;
}

.block .icon i{
    font-size: 2.5em;

}

.b_i_title{
    font-weight: 600;
    color: var(--primary-color);
}

.splash{
    background: url(./imgs/design-features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: var(--bulk-padding);
    padding-bottom: var(--bulk-padding);
}

.splash::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}


.splash img{
    position: absolute;
    
    bottom: -60px;
    left: 10%;
}

.splash .content0-1{
    margin-top: 0;
    justify-content: flex-start;
    position: relative;
}

.splash .h2-one{
    font-size: 20px;
}

.splash .content0-2 ul{
    padding-top: 40px;
}




.splash .content0-2 li{
    color: white;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 25px;
    cursor: default;
    list-style: none;
   
    /* list-style-image:url(./imgs/tv-solid.svg);
    list-style: 20px; */
   
}

.splash .content0-2 li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}




/* .splash .content0-2 li::marker{
    font-size: 35px;
} */




.list ul{
    list-style: none;
    display: flex;
    padding-top: 100px;
}

.list li{
    color: black;
    padding: 10px;
    font-size: 17px;

}

.list .first-li-special{
    color: white;
    border: none;
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
    padding-top: var(--primary-padding);
}

.gallery-grid div{
    overflow: hidden;
    position: relative;
}

.gallery-grid div span{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
    transition: 0.5s ease;
}

.gallery-grid div:hover span{
    bottom: 0;

}

.gallery-grid div span p{
    padding-top: 5px;
}

.grid-sec-txt{
    color: var(--primary-color);
}

.gallery-grid img{
    width: 100%;
    transition: 0.5s ease;
 
}

.gallery-grid div:hover img{
    transform: rotate(-7deg) scale(1.2);
}


.bulk .ul-special{
    width: fit-content;
    margin: auto;
    padding-top: var(--primary-padding);

}

.bulk .li-special{
    color: white;
    border: none;
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
}

.vid-div{
    position: relative;
    padding-top: var(--primary-padding);
}

video{
    filter: brightness(0.5);

}

#content0-2_first-id{
    margin-left: 0; 
    color: white;
    letter-spacing: 1px;
    padding: 50px;
    width: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

#content0-2_first-id .h2-one{
    font-size: 20px;
}
#content0-2_first-id .h2-two{
    padding-top: var(--primary-padding);
    font-size: 17px;
}

#content0-2_first-id span{
    display: block;
    text-transform: uppercase;
    padding: 10px;
    background-color: black;
    width: fit-content;

    margin: 25px auto 0;
}

.image{
    overflow: hidden;
}

#third-bulk_image{
    position: relative;
}

#third-bulk_image img{
    position: relative;
    bottom: -100px;
}

.third-bulk-div{
    position: relative;
    padding-top: var(--bulk-padding);
    padding-bottom: var(--bulk-padding);
    background-image: url(./imgs/stats.png);
}

.third-bulk-div::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.third-bulk-div_content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: fit-content;
}

.third-bulk-div_content>div{
    text-align: center;
    color: white;
    padding: 50px;
    flex-basis: 25%;
    background-color: var(--secondary-color);

}

.third-bulk-div_content>div>i{
    /* font-size: 2em;
    color: bisque;
    padding-bottom: var(--secondary-padding); */
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}


.third-bulk-div_content>div>h2{
    padding-top: var(--secondary-padding);
    font-size: 3em;
}

.third-bulk-div_content>div>p{
    padding-top: var(--primary-padding);
}

#sec-bulk_id{
    display: flex;
    text-align: center;
}

#sec-bulk_id>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#sec-bulk_id .content{
    flex-direction: row;
    align-items: normal;
}

#sec-bulk_id .content .loading-shape{
    width: 80px;
    bottom: -50px;
    
}

#sec-bulk_id .content .loading-shape span{
    border: 1px solid black;
    width: 15px;
    height: 15px
    
}

#sec-bulk_id .content>div{
    width: 40%;
    position: relative;
    padding-bottom: 50px;
}

#sec-bulk_id .content>div h3{
    font-size: 20px ;
    font-weight: 100;
}

#sec-bulk_id .content>div .under-title-para{
    width: auto;
    padding-top: var(--primary-padding);
}

#under-sec-bulk_content{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    position: relative;
}

.port-img{
    width: 100px;
    height: 100px;

}

.port-img img{
    width: 100%;
    border-radius: 50%;
}

.testmo-sec_div{
    /* width: 75%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.testmo-sec_bulk-cont{
    width: 65%;
    border-bottom: 1px solid #ccc;
    text-align: start;
    position: relative;
    
}

.testmo-sec_bulk-cont::after{
    content: "John Doe, CEO";
    position: absolute;
    bottom: 5px;
    right: 0;
    color: #777;
    font-size: 15px;
}

.testmo-sec_bulk-cont p{
    letter-spacing: 1px;
    line-height: 22px;

}


.sec-bulk_id_sec-div>div p{
    text-align: start;
    padding-bottom: var(--primary-padding);

}

.parameter_1{
    height: 20px;
    background-image: linear-gradient(to right , #19c8fa 90% , #dedadc 90% , #dedadc 100%);
}

.parameter_1.two{
    background-image: linear-gradient(to right , #19c8fa 85% , #dedadc 85% , #dedadc 100%);
}

.parameter_1.three{
    background-image: linear-gradient(to right , #19c8fa 80% , #dedadc 80% , #dedadc 100%);
}

.parameter_1.four{
    background-image: linear-gradient(to right , #19c8fa 90% , #dedadc 90% , #dedadc 100%);
}

.parameter-container{
    padding-top: 50px;
    margin-top: 15px;
}

.parameter-container>div{
    margin-bottom: 30px;
}

.parameter-div{
    position: relative;
}

.parameter-div::after{
    content: "90%";
    color: white;
    background-color: black;
    position: absolute;
    top: 2px;
    left: 95%;
    transform: translateX(-100%);
    padding: 4px;
    border-radius: 5px;
}

.parameter-div::before{
    content: "";
    position: absolute;
    border: 8px solid black;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    left: 92%;
    transform: translateX(-100%);
    top: 27px;
}

.parameter-div.sec::after{
    content: "85%";
    left: 90%;

}

.parameter-div.sec::before{
    left: 87%

}


.parameter-div.third::after{
    content: "80%";
    left: 85%;
   

}

.parameter-div.third::before{
    left: 82%;

}

#first-bulk_id{
  
    background-image: url(./imgs/quote.jpg);

}

#first-bulk_id>q,
#first-bulk_id>p{
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
}

q::before {
    content: open-quote;
}

#first-bulk_id>q{
    font-size: 30px;
    width: 60%;
    display: block;
    
}

#first-bulk_id::before{
    background-color: rgb(0 0 0 / 80%);
}

.cards-bulk{
    width: 56%;
   
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: auto;

    display: grid;
    
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 20px
}



.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(252 252 252);


    

}

.para-bulk{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}



.smal-p{
    padding-top: 10px;
}

.price{
    position: relative;
    padding-top: 30px;
    font-size: 60px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
}

.price::before{
    content: "$";
    position: absolute;
    font-size: 20px;
    left: -5px;
    font-weight: 100;
}
.card span{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 100;
}

.card .features{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
}

.card .features>div{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid var(--primary-color);
}

.card .features>p{

    padding-top: 20px;

}



.card a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid var(--primary-color);
    display: block;
    width: fit-content;
    margin: 30px auto;

}

.under-card-contact{
    text-align: center;
    width: fit-content;
    margin: 50px auto;
}

.under-card-contact p{
    font-size: 20px;
}

.under-card-contact a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    background-color: var(--primary-color);
    width: fit-content;
    margin: 20px auto 0;
    border-radius: 3px;
}

#third-bulk_id{
    background-image: url(./imgs/subscribe.jpg);
}

#third-bulk_id>div{
    display: flex;
    justify-content: space-between;
    position: relative;
    color: white;
    flex-direction: row;
    width: 70%;
    margin: auto;
}

/* #third-bulk_id input{
    background-color: transparent;
    padding: 15px;
    
    border: 1px solid white;
    font-size: 15px;
    color: white;
    position: relative;
    text-indent: 30px;
    border-right: none;
} */

.input_div{
    position: relative;
}

.input_div form input[type="email"]{
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--primary-color);
    width: calc(100% - 130px);
}

.input_div form{
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;

}

.input_div form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.input_div form input[type="submit"]{
    width: 130px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
    
}

/* .input_div::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    font-weight: 900;
    margin-right: 20px;
    position: absolute;
    top: 49%;
    left: 6%;
    transform: translateY(-50%);
} */


/* .input_div span{
    padding: 14.5px;
    top: 0;
    border: 1px solid white;
    border-left: none;
    background-color: var(--primary-color);
    display: inline-block;
    position: relative;
    left: -5px;
} */

.the-text-after-input{
    line-height: 2;
    margin-left: 50px;
}

.input-section{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
}


.input-section .input-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}

.input-area{
    width: 70%;
}

.input-section .input-area input{
    padding: 15px;
    outline: none;
    border: 1px solid rgb(131 123 119);
    font-size: 15px;

}

.input-section .input-area textarea{
    padding: 15px;
    outline: none;
    border: 1px solid rgb(131 123 119);
    font-size: 15px;

}

.text-section{
    width: 25%;
    justify-content: space-between;
}

.text-section h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 18px;
}

.text-section p{
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.input-section input[type="submit"]{
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}

.f-t-c{
    margin-bottom: 90px;
}

#footer{
    background-image: url(./imgs/subscribe.jpg);
}

#footer .content{
    position: relative;
}

.footer-txt{
    color: white;
    padding: 25px;
    font-size: 20px;
    padding-top: 70px;
    border-bottom: 1px solid white;
}

.footer-icon{
    color: white;
    padding-top: 25px;
}

.footer-icon i{
    margin-right: 25px;
    cursor: pointer;
}

.footer-icon a{
    color: white;
}

#footer p{
    color: white;
    margin-top: 70px;
}

#footer span{
    padding-right: 7px;
    color: var(--primary-color);
}


@media (max-width: 992px){
    .content{
        width: 100%;
    }

    .splash .content0-1{
        display: block;
    }

    .content0-2{
        width: auto;
    }

    #third-bulk_id>div{
        flex-direction: column;
        width: 95%;
    }

    .the-text-after-input{
        margin-left: 0;
        font-size: 15px;
        padding-top: 10px;
    }

   

}


@media (max-width: 768px){

    .content{
        width: 100%;
    }

    .block{
        width: auto;
        display: block;
        text-align: center;
    }

    .nav{
        justify-content: center;
    }

    .nav_bar{
        display: none;
    }

    .block .icon{
        padding-right: 0;
        padding-bottom: 25px;
    }

    .block-info p{
        width: auto;
        padding-top: 25px;
    }

    .splash{
        display: block;
    }

    .splash img{
        display: none;
    }

    .splash .content0-1{
        display: block;
        width: 100%;
    }

    #third-bulk_image img{
        width: 100%;
    }

    .third-bulk-div_content>div{
        flex-basis: 50%;
    }

    #third-bulk_id>div{
        flex-direction: column;
    }

    #sec-bulk_id .content{
        flex-direction: column;
        align-items: center;
    }

    #sec-bulk_id .content>div{
        width: 75%;
    }


  

}

@media(max-width:640px){
    body{
        font-size: 10px;
    }

    .content0-1{
        width: 100%;
    }

    .content{
        width: 100%;
    }

    .under-title-para{
        width: 95%;
    }

    .gallery-grid{
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    }

    #third-bulk_image img{
        width: 100%;
    }

    .third-bulk-div_content>div{
        flex-basis: 100%;
    }

    #sec-bulk_id .content>div{
        width: 95%;
    }

    #sec-bulk_id{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sec-bulk_id_sec-div{
        padding-top: 50px;
    }

    #under-sec-bulk_content{
        align-items: center;
    }

    .block{
        font-size: 15px;
    }

    .testmo-sec_div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testmo-sec_bulk-cont{
        width: 95%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #first-bulk_id>q{
        width: 95%;
    }

    #third-bulk_id>div{
        width: 95%;
    }

    .input-section{
        width: 95%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .text-section{
        width: 95%;
        text-align: center;
    }

    .f-t-c{
        margin-bottom: 30px;
    }

    .text-section h4{
        font-size: 15px;
    }

    .text-section p{
        font-size: 15px;
    }

    .the-text-after-input{
        margin-left: 0;
        font-size: 15px;
        padding-top: 10px;
    }
}

